<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lab1.mybatis.model.Store" alias="Store"/>
        <typeAlias type="lab1.mybatis.model.StoreNetwork" alias="StoreNetwork"/>
        <typeAlias type="lab1.mybatis.model.City" alias="City"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="psk_lab1_datasource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/StoreMapper.xml"/>
        <mapper resource="mybatis.xml/StoreNetworkMapper.xml"/>
        <mapper resource="mybatis.xml/CityMapper.xml"/>
    </mappers>
</configuration>
